/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/img
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpstorm.meta.php
_ide_helper.php
composer.lock
npm-debug.log*
.phpunit.result.cache