////////////
// mixins //
////////////
@mixin _transition($property, $duration, $type) {
  -webkit-transition: $property $duration $type;
  -moz-transition: $property $duration $type;
  -o-transition: $property $duration $type;
  transition: $property $duration $type;
}

// box shadows regardless of the $enable-shadows flag
@mixin _box-shadow($shadow...) {
  box-shadow: $shadow;
}


//////////////////////////////
// margin / padding offsets //
//////////////////////////////
$directionShortcodes: l r t b;

@function getDirectionByShortcode($shortcode) {
  $direction: "";

  @if $shortcode == "l" {
    $direction: "left";
  } @else if $shortcode == "r" {
    $direction: "right";
  } @else if $shortcode == "t" {
    $direction: "top";
  } @else if $shortcode == "b" {
    $direction: "bottom";
  }

  @return $direction;
}

@for $i from 1 through 20 {
  .z-m-#{$i*5} {
    margin: $i*5px;
  }

  .z-p-#{$i*5} {
    padding: $i*5px;
  }

  .z-w-#{$i*5} {
    width: $i*5px;
  }

  @each $directionShortcode in $directionShortcodes {
    .z-m-#{$directionShortcode}-#{$i*5}{
      margin-#{getDirectionByShortcode($directionShortcode)}: $i*5px;
    }

    .z-p-#{$directionShortcode}-#{$i*5}{
      padding-#{getDirectionByShortcode($directionShortcode)}: $i*5px;
    }
  }
}

///////////////////////
// debugging classes //
///////////////////////
.debug-border-red {
  border: 1px solid indianred;
}

.debug-border-green {
  border: 1px solid darkolivegreen;
}

.debug-border-blue {
  border: 1px solid dodgerblue;
}

@function rgba-to-rgb($rgba, $background: #fff) {
  @return mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%)
}