html,
body {
    &.welcome {
        @media screen and (min-width: 1500px) {
            background-size: 100% auto;
        }

        @media screen and (max-width: 1500px) {
            background-size: 135% auto;
        }

        @media screen and (max-width: 1200px) {
            background-size: 170% auto;
        }

        @media screen and (max-width: 1000px) {
            background-size: 200% auto;
        }

        @media screen and (max-width: 700px) {
            background-size: 250% auto;
        }

        @media screen and (max-width: 500px) {
            background-size: 350% auto;
        }

        background-image: url('../img/header.svg');
        background-repeat: no-repeat;
        color: #636b6f;
        font-family: 'Nunito', sans-serif;
        height: 100vh;
        margin: 0 !important;

        a {
            @include _transition(all, .125s, ease-in);
        }

        .full-height {
            height: 100vh;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .top-left {
            position: absolute;
            left: .75rem;
            top: .25rem;
        }

        .top-right {
            position: absolute;
            right: .75rem;
            top: .25rem;
        }

        .content {
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
        }

        .title {
            font-weight: 200;
            font-size: $font-size-base * 6;
        }

        .links {
            &.links-nav {
                > a {
                    color: $welcome-link-color-light;

                    &:hover {
                        color: lighten($welcome-link-color-light, 10%);
                    }
                }
            }

            > a {
                color: $welcome-link-color;
                padding: 0 1rem;
                margin-top: 1rem;
                display: inline-block;
                font-size: $font-size-base * 0.9;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: darken(desaturate($welcome-link-color, 50%), 10%);
                }
            }
        }

        .brands {
            @extend .links;

            > a {
                color: lighten($welcome-link-color-light, 10%);
                font-size: $font-size-base * 1.4;

                &:hover {
                    color: lighten($welcome-link-color-light, 20%);
                }
            }
        }
    }
}
