@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* Navbar
---------------------------------------------------------------------------- */
.navbar-link {
    @apply cursor-pointer block transition-all duration-200 p-4 text-gray-700 border-l-4 border-transparent;
}

.navbar-link:hover {
    @apply text-black bg-gray-50;
}

.navbar-link-active {
    @apply text-black border-primary-500;
}

@screen lg {
    .navbar-link {
        @apply text-gray-700 border-l-0 border-t-4 border-transparent;
    }

    .navbar-link:hover {
        @apply text-black bg-gray-50;
    }

    .navbar-link-active {
        @apply text-black border-primary-500;
    }

    .navbar-link-active:hover {
        @apply border-primary-900;
    }
}

/* Typograhpy
---------------------------------------------------------------------------- */
h1 {
    @apply text-4xl mb-5;
}
h1 > .headline-info {
    @apply text-gray-600 text-3xl;
}

h2 {
    @apply text-3xl mt-3 mb-2;
}

.text-muted {
    @apply text-gray-600;
}

.link {
    @apply text-primary-900;
}
.link:hover {
    @apply underline;
}

/* Dropdown
---------------------------------------------------------------------------- */
.dropdown {
    @apply border border-gray-100 rounded-md bg-white shadow-xl py-1 overflow-auto;
}

.dropdown-item {
    @apply text-left px-4 py-2 leading-5 text-gray-700 cursor-pointer transition-all duration-200;
}
.dropdown-item:hover {
    @apply bg-gray-50 text-gray-700;
}
.dropdown-item:focus {
    @apply outline-none bg-gray-100 text-gray-900;
}

.dropdown-item.dropdown-item-active {
    @apply text-white bg-primary-400;
}
.dropdown-item.dropdown-item-active:hover {
    @apply text-white bg-primary-600;
}

.dropdown-header {
    @apply px-4 py-2 font-bold text-xs text-gray-800 uppercase tracking-wide;
}

.dropdown-divider {
    @apply pt-2 mb-2 border-b border-gray-100;
}

/* Forms & input
---------------------------------------------------------------------------- */
.input:not(select) {
    @apply py-2;
}
select.input {
    padding-top: .5rem;
    padding-bottom: .3rem;
}
.input {
    @apply outline-none px-3 shadow border w-full text-gray-700 leading-tight transition-all duration-200;
}
.input:focus {
    @apply ring-2 ring-primary-200;
}

.input:not(.input-with-btn) {
    @apply rounded;
}

.input-with-btn {
    @apply rounded-l;
}

.has-error {
    @apply border-danger-900;
}
.invalid-feedback {
    @apply text-danger-900 text-xs mt-1;
}

.label {
    @apply block text-gray-700 text-sm font-bold mb-2;
}

.label-checkbox {
    @apply inline-flex items-center mt-3;
}
.checkbox {
    @apply block h-5 w-5 bg-white appearance-none border border-gray-500 rounded outline-none transition-all duration-200 mr-2;
}
.checkbox:checked {
    @apply bg-primary-900 border-primary-900;
}
.checkbox:checked:before {
    @apply absolute h-5 w-5 text-white text-center;

    margin-left: -1px;
    margin-top: -1px;
    line-height: 1.25rem;
    font-family: "Font Awesome 5 Free";
    font-size: .6rem;
    font-weight: 900;
    content: "\f00c";
}
.checkbox:focus {
    @apply ring-4 ring-primary-200;
}

/* Breadcrumbs
---------------------------------------------------------------------------- */
.breadcrumb {
    @apply bg-gray-100 my-4 py-2 px-4 rounded;
}
.breadcrumb-item {
    @apply inline-block text-gray-600;
}
.breadcrumb-item:not(:first-child):before {
    @apply text-gray-400 pr-1;

    content: '/';
}
.breadcrumb-item > a {
    @apply link;
}
.breadcrumb-item > a:hover {
    @apply underline;
}

/* Buttons
---------------------------------------------------------------------------- */
.btn {
    @apply inline-block cursor-pointer shadow-md border transition-all duration-200;
}
.btn:not(.btn-sm):not(.btn-with-input) {
    @apply py-2 px-4 font-bold;
}
.btn:not(.btn-with-input) {
    @apply rounded-full;
}
.btn:focus {
    @apply outline-none;
}

.btn:disabled {
    @apply bg-opacity-75 cursor-not-allowed;
}

.btn-sm {
    @apply px-2 text-sm;
}

.btn-with-input {
    @apply pt-2 pb-1 px-4 font-bold rounded-r;
}

.btn-primary {
    @apply border-primary-500 text-primary-900;
}
.btn-primary:hover:not(:disabled) {
    @apply border-primary-900 bg-primary-900 text-white;
}
.btn-primary:focus:not(:disabled) {
    @apply ring-4 ring-primary-200;
}

.btn-secondary {
    @apply border-secondary-500 text-secondary-900;
}
.btn-secondary:hover:not(:disabled) {
    @apply border-secondary-900 bg-secondary-900 text-white;
}
.btn-secondary:focus:not(:disabled) {
    @apply ring-4 ring-secondary-200;
}

.btn-success {
    @apply border-success-500 text-success-900;
}
.btn-success:hover:not(:disabled) {
    @apply border-success-900 bg-success-900 text-white;
}
.btn-success:focus:not(:disabled) {
    @apply ring-4 ring-success-200;
}

.btn-danger {
    @apply border-danger-500 text-danger-900;
}
.btn-danger:hover:not(:disabled) {
    @apply border-danger-900 bg-danger-900 text-white;
}
.btn-danger:focus:not(:disabled) {
    @apply ring-4 ring-danger-200;
}

.btn-primary-dark {
    @apply border-primary-dark-500 text-primary-dark-900;
}
.btn-primary-dark:hover:not(:disabled) {
    @apply border-primary-dark-900 bg-primary-dark-900 text-white;
}
.btn-primary-dark:focus:not(:disabled) {
    @apply ring-4 ring-primary-dark-200 ring-opacity-25;
}

/* Cards
---------------------------------------------------------------------------- */
.card {
    @apply rounded-lg overflow-hidden shadow-lg border border-gray-100 bg-white;
}

/* List items
---------------------------------------------------------------------------- */
.list-item {
    @apply transition-all duration-300;
}
.list-item:nth-child(odd) {
    @apply bg-gray-50;
}
.list-item:hover {
    @apply bg-primary-100 bg-opacity-25 ring-0 ring-primary-400;
}
.list-item-duplicate {
    @apply bg-warning-300 bg-opacity-25;
}
.list-item-duplicate:nth-child(odd) {
    @apply bg-warning-600 bg-opacity-25;
}
.list-item-duplicate:hover {
    @apply bg-warning-400 bg-opacity-50;
}
.list-item-duplicate:nth-child(odd):hover {
    @apply bg-warning-700 bg-opacity-50;
}

/* Tables
---------------------------------------------------------------------------- */
.table {
    @apply w-full text-left;
}
.table th {
    @apply bg-gray-50 font-bold text-xs text-gray-800 uppercase border-b-2 border-gray-200 py-3 px-3 tracking-wide align-middle;
}
.table tbody {
    @apply divide-y divide-solid divide-gray-100;
}
.table td {
    @apply py-4 px-3 align-middle;
}
.table-hover tr:hover {
    @apply bg-gray-50 transition-colors duration-150 ease-out;
}

/* Alerts
---------------------------------------------------------------------------- */
.alert {
    @apply p-4 my-4 border-l-4 rounded;
}
.alert-info {
    @apply bg-blue-100 text-blue-800 border-blue-400;
}
.alert-success {
    @apply bg-green-100 text-green-800 border-green-400;
}
.alert-warning {
    @apply bg-yellow-100 text-yellow-800 border-yellow-400;
}
.alert-danger {
    @apply bg-red-100 text-red-800 border-red-400;
}

/* Other
---------------------------------------------------------------------------- */
.prettyprint {
    @apply overflow-auto;

    border: 0 !important;
}
