.tablesorter-bootstrap-custom {
  thead {
    tr {
      th {
        background-repeat: no-repeat;
        background-position: right 10px bottom 15px;

        &:not(.sorter-false) {
          cursor: pointer;
        }

        &.primary {
          background-color: rgba(0,0,0,.075);
          border-bottom-color: rgba(0,0,0,.075);
        }

        &.secondary {
          background-color: rgba(0,0,0,.05);
          border-bottom-color: rgba(0,0,0,.05);
        }

        &.tertiary {
          background-color: rgba(0,0,0,.025);
          border-bottom-color: rgba(0,0,0,.025);
        }
      }
    }

    .tablesorter-headerUnSorted:not(.sorter-false) {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE0IDIwIj48cGF0aCBkPSJNMTQgMTNsLTIuNS0yLjVMNyAxNWwtNC41LTQuNUwwIDEzbDcgN3pNMTQgNy41TDExLjUgMTAgNyA1LjUgMi41IDEwIDAgNy41bDctN3oiLz48L3N2Zz4=)
    }

    .tablesorter-headerAsc {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDE0IDE0Ij48cGF0aCBkPSJNMTQgOS41TDExLjUgMTIgNyA3LjUgMi41IDEyIDAgOS41bDctN3oiLz48L3N2Zz4=)
    }

    .tablesorter-headerDesc {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDE0IDE0Ij48cGF0aCBkPSJNMTQgNWwtMi41LTIuNS00LjUgNC41LTQuNS00LjVMMCA1IDcgMTJ6Ii8+PC9zdmc+)
    }
  }

  tbody {
    tr {
      td {
        &.primary {
          background-color: rgba(0,0,0,.1);
        }

        &.secondary {
          background-color: rgba(0,0,0,.075);
        }

        &.tertiary {
          background-color: rgba(0,0,0,.05);
        }
      }
    }
  }
}